@font-face {
    font-family: 'Bostvina Normal';
    src: url('Bostvina.eot');
    src: local('Bostvina Normal'), local('Bostvina'),
        url('Bostvina.eot?#iefix') format('embedded-opentype'),
        url('Bostvina.woff2') format('woff2'),
        url('Bostvina.woff') format('woff'),
        url('Bostvina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

